[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioping = "*"
async_timeout = "*"
aiodns = "*"

[dev-packages]
flake8 = "*"
pre-commit = "*"

[requires]
python_version = "3.7"

[scripts]
lint = "python -m flake8"
start = "python -m pingblame"
test = "python -m unittest discover -s pingblame"
